<!-- Footer Section -->
<footer class="footer">
    <div class="container">
      <p>&copy; <%= new Date().getFullYear() %> Aurora Secrets.
        Developed by Jothiprasath All rights reserved.</p>
      <p>
        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
      </p>
      <div class="social-links">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-twitter"></a>
        <a href="#" class="fab fa-instagram"></a>
      </div>
    </div>
  </footer>
</body>
</html>
